body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}

.drag {
  z-index: 5;
}
article.alert {
  background: rgb(197, 197, 62) !important;
}

article.late {
  background: rgb(224, 99, 99);
}